/*========== Fonts Variables ==========*/
$Rob : 'Roboto Mono';
$Heeb : 'Heebo';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&family=Roboto+Mono:ital,wght@1,300&display=swap');

/*========== Color Varibales =========*/

$mainColor : #3bacf0;
$textColor : #222;